{% extends 'base.html' %}
{% load custom_tags %}
{% block content %}
    <script>
        function book_appointment(availability_id) {
            axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
            axios.defaults.xsrfCookieName = "csrftoken";
            const topic_field = document.getElementById("topic-" + availability_id);
            const capacity_count = document.getElementById("capacity-" + availability_id);
            const book_button = document.getElementById("button-" + availability_id);
            axios.post('{% url 'book' %}', {
                availability_id: availability_id,
                topic: topic_field.value
            }).then(function (response) {
                create_message_toast("success", response.data)
                capacity_count.textContent -= 1;
                topic_field.value = "";
                book_button.textContent = "cancel";
                book_button.className = "btn btn-danger";
                book_button.onclick = function () {
                    cancel_appointment(availability_id);
                }

            }).catch(function (error) {
                create_message_toast("danger", error.response.data)
            })
        }

        function cancel_appointment(availability_id) {
            axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
            axios.defaults.xsrfCookieName = "csrftoken";
            const capacity_count = document.getElementById("capacity-" + availability_id);
            const book_button = document.getElementById("button-" + availability_id);
            axios.post('{% url 'cancel' %}', {
                availability_id: availability_id
            }).then(function (response) {
                 create_message_toast("info", response.data)
                capacity_count.textContent -= -1;
                book_button.textContent = "book";
                book_button.className = "btn btn-info";
                book_button.onclick = function () {
                    book_appointment(availability_id);
                }
            }).catch(function (error) {
                 create_message_toast("danger", error.response.data)
            })
        }
    </script>
    <div id="termin-selection" class="mt-5">
        <div class="accordion" id="accordionExample">
            {% for entry in availabilitys %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-{{ entry.0.id }}"
                                aria-expanded="true" aria-controls="collapse{{ entry.0.id }}">
                            {{ entry.0.full_name }}
                        </button>
                    </h2>
                    <div id="collapse-{{ entry.0.id }}" class="accordion-collapse collapse" aria-labelledby="headingOne"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">


                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">When</th>
                                    <th scope="col">Duration</th>
                                    <th scope="col">Preferred Location</th>
                                    <th scope="col">Topic</th>
                                    <th scope="col">Available Slots</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for avail in entry.1 %}
                                    {% has_booked user avail as booked %}
                                    <tr>
                                        <td>
                                            {% if booked %}
                                                {{ booked.appointment_time|date:'G:i, jS F, l'  }}
                                            {% else %}

                                                {{ avail.get_next_timeslot|date:'G:i, jS F, l'  }}

                                            {% endif %}
                                        </td>
                                        <td>{% settings_value "TIME_SLOT_DURATION" %} </td>
                                        <td>{{ avail.preferred_location }}</td>
                                        <td>
                                            <div class="input-group flex-nowrap">
                                                <input id="topic-{{ avail.id }}" type="text" class="form-control"
                                                       placeholder="Topic"
                                                       aria-label="Username" aria-describedby="addon-wrapping">
                                            </div>
                                        </td>
                                        <td>
                                            <span id="capacity-{{ avail.id }}">{{ avail.capacity.0 }}</span>
                                            of {{ avail.capacity.1 }}
                                        </td>
                                        <td>

                                            {% if booked %}
                                                <button id="button-{{ avail.id }}"
                                                        type="button"
                                                        class="btn btn-danger"
                                                        style="width: 100%"
                                                        onclick="cancel_appointment({{ avail.id }})">
                                                    cancel
                                                </button>
                                            {% else %}
                                                <button id="button-{{ avail.id }}"
                                                        type="button"
                                                        style="width: 100%"
                                                        {% if not avail.is_bookable %}
                                                        class="btn btn-light"
                                                        disable
                                                        {% else %}
                                                        class="btn btn-info"
                                                        onclick="book_appointment({{ avail.id }})"
                                                        {% endif %}>book
                                                </button>
                                            {% endif %}
                                        </td>
                                    </tr>

                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}